<!DOCTYPE html>
<html>
<head>
    <title>CSRNet Crowd Counting</title>
</head>

<body style="text-align:center; font-family:Arial;">

<h1>CSRNet Crowd Analysis Dashboard</h1>

<form method="POST" enctype="multipart/form-data">
    <input type="file" name="file" required>
    <br><br>
    <button type="submit">Upload Video</button>
</form>

{% if result is not none %}
    <h2>Estimated Crowd Count: {{ result }}</h2>
{% endif %}

{% if image %}
    <h3>Density Heatmap</h3>
    <img src="{{ url_for('static', filename='output.jpg') }}" width="700">
{% endif %}

</body>
</html>
